
.DS_Store
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata

FaceCheck.xcodeproj/project.xcworkspace/contents.xcworkspacedata

FaceCheck.xcodeproj/xcuserdata/takao_maeda.xcuserdatad/xcschemes/TestFace.xcscheme

FaceCheck.xcodeproj/xcuserdata/takao_maeda.xcuserdatad/xcschemes/Face.xcscheme

FaceCheck.xcodeproj/project.xcworkspace/xcuserdata/takao_maeda.xcuserdatad/UserInterfaceState.xcuserstate

FaceCheck.xcodeproj/project.xcworkspace/contents.xcworkspacedata

FaceCheck.xcodeproj/project.pbxproj
